<div class="container">
  <% if @error_message %>
    <div class="form-error">
      <%= @error_message %>
    </div>
  <% end %>
  <%= form_tag("/login") do %>
    <div class="pass1">ID</div>
    <div class="pass2">
      <input name="login_id" class="pass3" value="<%= @login_id %>">
    </div>
    <div class="pass1">パスワード</div>
    <div class="pass2">
      <input type="password" name="password" class="pass3" value="<%= @password %>">
    </div>
    <div class="login">
      <input type="submit" class="login2" value="ログイン">
    </div>
  <% end %>
</div>
