<div class="container">
    <br>
    <div class="list-name"><%= @list.list_name %></div>
    <% @cards.each do |card| %>
      <div class="item">
        <a href="<%=" /lists/#{card.id}/edit2 "%>"><input class="item-box" type="submit" value="<%= card.word %>"></a>
      </div>
    <% end %>
    <div class="item2">
      <a href="<%=" /lists/#{@list.id}/edit "%>"><input class="list-new" type="submit" value="作成"></a>
    </div>
</div>
